/**
version: 1.5
**/
*{margin:0;padding:0;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table{border-collapse:collapse;border-spacing:0; vertical-align: middle;}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 0;
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

img {
	border: 0; 
}

ins{text-decoration:none;}
del{text-decoration:line-through;}

sup {font-size:.7em;vertical-align: top;}
sub {font-size:.7em;vertical-align: bottom;}
small {font-size: 10px;}
strong,dfn,dl dt,th{font-weight:600}

h1, h2, h3, h4, h5, h6{ font-weight: normal;}

select, input, textarea{
padding:0;
margin:0;
outline:0;
font-size:100%;
vertical-align:baseline;
}

button, input[type=submit]{padding:0; margin:0; outline:0; font-size:100%; vertical-align:baseline; -webkit-appearance: none;} 

a{text-decoration: underline; color:#545454;}

body{
font: 13px/1.3em 'Open Sans', sans-serif;
color: #333333;
}
	body.rtl_body{
	direction: rtl;
	unicode-bidi: embed;	
	}
	
.rtl_body caption,
.rtl_body th,
.rtl_body td {
	text-align: right;
}	
	
#container{
position: relative;
display: block;
width: 100%;
min-width: 320px;
max-width: 640px; 
margin: 0 auto;
}

/* wclose */
.wclosearea{
padding: 5px 10px;
background: #e63f3f;
border-bottom: 1px solid #b83232;
}
	.wclosearea_ins{
	min-height: 20px;
	position: relative;
	}
	.wclosearea_hide{
	position: absolute;
	float: none;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(images/wclose.png) no-repeat center center;
	border-radius: 3px;
	}
		.wclosearea_hide.active{
		background: #fff url(images/ajax-loader.gif) no-repeat center center;	
		}
		.rtl_body .wclosearea_hide{
		right: auto;
		left: 0;
		}		
	.wclosearea_text{
	padding: 2px 30px 0 26px;
	background: url(images/warning.png) no-repeat 0 3px;
	color: #fff;
	font: 13px 'Open Sans', sans-serif;
	text-shadow: 1px 1px 1px #b83232;
	}
		.rtl_body .wclosearea_text{
		padding-left: 30px;
		padding-right: 26px;
		background: url(images/warning.png) no-repeat 100% 3px;
		}	
		.wclosearea_text a{
		color: #fff;
		font: 13px 'Open Sans', sans-serif;
		text-decoration: underline;
		}
			.wclosearea_text a:hover{
			text-decoration: none;
			} 	
/* end wclose */

/* forms */
input[type=text],input[type=email],input[type=password]{
border: 1px solid #f0f5f3;
background: #f0f5f3;
border-radius: 3px;
height: 38px;
width: 100%;
max-width: 100%;
padding: 0 15px;
-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
			transition: all 0.3s linear; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #545454;
font: 13px/38px 'Open Sans', sans-serif;	
}
	.color_y input[type=text], .color_y input[type=email], .color_y input[type=password]{
	border: 1px solid #ffffff;
	background: #ffffff;		
	}
	.color_b input[type=text], .color_b input[type=email], .color_b input[type=password]{
	border: 1px solid #ebebeb;
	background: #ffffff;		
	}
	.color_r input[type=text], .color_r input[type=email], .color_r input[type=password]{
	border: 1px solid #f0f3f7;
	background: #f0f3f7;
	}
textarea{
border: 1px solid #f0f5f3;
background: #f0f5f3;
border-radius: 3px;
width: 100%;
max-width: 100%;
min-width: 100%;
height: 100px;
min-height: 100px;
padding: 15px;
-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
			transition: all 0.3s linear; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #545454;
font: 13px 'Open Sans', sans-serif;
}
	.color_y textarea{
	border: 1px solid #ffffff;
	background: #ffffff;		
	}
	.color_b textarea{
	border: 1px solid #ebebeb;
	background: #ffffff;		
	}
	.color_r textarea{
	border: 1px solid #f0f3f7;
	background: #f0f3f7;
	}
input[type=text]:focus,input[type=email]:focus,input[type=password]:focus, textarea:focus{
border: 1px solid #00c063;
}
	.color_y input[type=text]:focus,.color_y input[type=email]:focus,.color_y input[type=password]:focus, .color_y textarea:focus{
	border: 1px solid #ffe033;		
	}
	.color_b input[type=text]:focus,.color_b input[type=email]:focus,.color_b input[type=password]:focus, .color_b textarea:focus{
	border: 1px solid #0090e4;		
	}
	.color_r input[type=text]:focus,.color_r input[type=email]:focus,.color_r input[type=password]:focus, .color_r textarea:focus{
	border: 1px solid #2d3e50;
	}
input[type=text]:disabled,input[type=email]:disabled,input[type=password]:disabled, textarea:disabled{
border: 1px solid #ccc;
background: #ccc;
color: #000;
}	
input[type=text].error,input[type=email].error,input[type=password].error{
border: 1px solid #e46066;
}
select{
border: 1px solid #ebebeb;
background: #fff;
border-radius: 3px;
height: 38px;
width: 300px;
padding: 0 15px; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #545454;
font: 13px 'Open Sans', sans-serif;	
}
input[type=submit]{
border: 1px solid #00c063;
background: #00c063;
border-radius: 3px;
height: 38px;
padding: 0 25px;
-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
			transition: all 0.3s linear; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #fff;
font: 600 13px 'Open Sans', sans-serif;	
cursor: pointer;
text-transform: uppercase;
}
	.color_y input[type=submit]{
	border: 1px solid #ffe033;
	background: #ffe033;
	color: #2a2a2a;
	}
	.color_b input[type=submit]{
	border: 1px solid #0090e4;
	background: #0090e4;
	color: #fff;
	}
	.color_r input[type=submit]{
	border: 1px solid #eb5255;
	background: #eb5255;
	color: #fff;
	}
	input[type=submit]:hover{
	background: #02944d;
	border: 1px solid #02944d;
	text-decoration: none;
	}
		.color_y input[type=submit]:hover{
		border: 1px solid #3d383f;
		background: #3d383f;
		color: #fff;		
		}
		.color_b input[type=submit]:hover{
		border: 1px solid #2a2a2a;
		background: #2a2a2a;
		color: #fff;
		}
		.color_r input[type=submit]:hover{
		border: 1px solid #2d3e50;
		background: #2d3e50;
		color: #fff;
		}	
	input[type=submit]:disabled, input[type=submit]:disabled:hover{
	background: #ccc;
	border: 1px solid #ccc;
	color: #fff;
	cursor: default;
	}
.checkbox{cursor:pointer;background:url(images/checkbox.png) no-repeat 0 0px; padding: 2px 0 2px 25px;}
	.rtl_body .checkbox{
	padding: 2px 25px 2px 0px;	
	background-position: right 0;
	}
.checkbox input{ display: none; }
.checkbox.act{background:url(images/checkbox.png) no-repeat 0 -180px;}
	.rtl_body .checkbox.act{
	background-position: right -180px;
	}
/* end forms */

/* standart captcha */
.captcha_div{
margin: 0 0 10px 0;
}	
	.xchange_div_ins .captcha_div{
	margin: 0 0 10px 20px;
	}
		.rtl_body .xchange_div_ins .captcha_div{
		margin: 0 20px 10px 0px;	
		}	
	.captcha_title{
	font: 600 13px 'Open Sans', sans-serif;	
	margin: 0 0 5px 0;
	}
	.captcha_body{
	padding: 0 0 0px 0;
	}
	.captcha_divznak{
	float: left;
	width: 24px;
	height: 40px;
	font: 600 18px/40px 'Open Sans', sans-serif;
	text-align: center;
	}
		.rtl_body .captcha_divznak{
		float: right;	
		}	
	input.captcha_divpole{
	float: left;
	width: 40px;
	height: 40px;
	padding: 0 5px;
	font: 18px/40px 'Open Sans', sans-serif;	
	margin: 0;
	text-align: center;
	}
		.rtl_body input.captcha_divpole{
		float: right;	
		}	
	a.captcha_reload{
	float: left;
	margin: 0px 0 0 5px;
	width: 32px;
	height: 40px;
	border-radius: 3px;
	background: url(images/reload.png) no-repeat center center;
	}
		.rtl_body a.captcha_reload{
		float: right;	
		}	
		a.captcha_reload.act{
		background: #fff url(images/ajax-loader.gif) no-repeat center center;	
		}	
	.captcha_divimg{
	float: left;
	width: 38px;
	height: 38px;
	border: 1px solid #ddd;
	border-radius: 3px;
	}
		.rtl_body .captcha_divimg{
		float: right;	
		}	
		.captcha_divimg img{
		width: 38px;
		height: 38px;	
		border-radius: 3px;
		}
/* end standart captcha */

/* image captcha */
.captcha_sci_div{
margin: 0 0 10px 0;
}
	.xchange_div_ins .captcha_sci_div{
	margin: 0 0 10px 10px;
	}	
	.captcha_sci_title{
	font: 600 13px 'Open Sans', sans-serif;	
	margin: 0 0 5px 0;
	}
	.captcha_sci_body{
	padding: 0 0 5px 0;
	}
	.captcha_sci_img{
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 10px 0 0;
	border: 2px solid #ddd;
	cursor: pointer;
	}
		.rtl_body .captcha_sci_img{
		float: right;
		margin: 0 0px 0 10px;
		}	
		.captcha_sci_img img{
		width: 50px;
		height: 50px;			
		}
	.captcha_sci_img.active{
	border: 2px solid #00c063;
	}
/* end image captcha */

/* recaptcha */
.recaptcha_div{
margin: 0 0 10px 0;
}
	.hexch_div_ins .recaptcha_div{
	margin: 0 0 20px 140px;
	}
	.xchange_div_ins .recaptcha_div{
	margin: 0 0 20px 30px;
	}
/* end recaptcha */

/* header */
.header{
background: #252927;
height: 50px;
}	
	.color_y .header{
	background: #2a2a2a;	
	}
	.color_b .header{
	background: #2a2a2a;
	}
	.color_r .header{
	background: #2d3e50;
	}	
	.logo {
	margin: 0 0 0 5px;
	float: left;
	width: 170px;
	height: 50px;
	overflow: hidden;
	}
		.rtl_body .logo{
		float: right;	
		margin: 0 5px 0 0;
		}	
		.logo_ins{
		width: 170px;
		height: 50px;	
		display: table-cell;
		vertical-align: middle;
		font: 600 26px/50px 'Open Sans', sans-serif;
		color: #00c063;
		}
		.logo_ins a{
		text-decoration: none;
		color: #00c063;
		}
			.color_y .logo_ins, .color_y .logo_ins a{
			color: #ffe033;	
			}
			.color_b .logo_ins, .color_b .logo_ins a{
			color: #0090e4;	
			}
			.color_r .logo_ins, .color_r .logo_ins a{
			color: #eb5255;	
			}			
		.logo_ins img{
		max-width: 170px;
		max-height: 50px;			
		}
	a.topbar_link{
	height: 50px;
	width: 45px;
	float: right;
	}
		.rtl_body a.topbar_link{
		float: left;	
		}
		a.topbar_link.menu{
		float: left;
		background: url(images/menu-ico.png) no-repeat center center;
		}
			.rtl_body a.topbar_link.menu{
			float: right;	
			}
		a.topbar_link.language{	
		width: 40px;
		background: url(images/lang-ico.png) no-repeat center center;
		}
		a.topbar_link.contacts{	
		margin: 0 5px 0 0;
		background: url(images/contacts-ico.png) no-repeat center center;
		}
			.rtl_body a.topbar_link.contacts{
			margin: 0 0 0 5px;	
			}
			a.topbar_link.menu.active{
			background: url(images/menu-ico-active.png) no-repeat center center;
			}
				.color_y a.topbar_link.menu.active{
				background: url(images/menu-ico-active_y.png) no-repeat center center;	
				}
				.color_b a.topbar_link.menu.active{
				background: url(images/menu-ico-active_b.png) no-repeat center center;	
				}
				.color_r a.topbar_link.menu.active{
				background: url(images/menu-ico-active_r.png) no-repeat center center;	
				}				
			a.topbar_link.language.active{	
			width: 40px;
			background: url(images/lang-ico-active.png) no-repeat center center;
			}
				.color_y a.topbar_link.language.active{
				background: url(images/lang-ico-active_y.png) no-repeat center center;	
				}
				.color_b a.topbar_link.language.active{
				background: url(images/lang-ico-active_b.png) no-repeat center center;	
				}
				.color_r a.topbar_link.language.active{
				background: url(images/lang-ico-active_r.png) no-repeat center center;	
				}			
			a.topbar_link.contacts.active{	
			background: url(images/contacts-ico-active.png) no-repeat center center;
			}
				.color_y a.topbar_link.contacts.active{
				background: url(images/contacts-ico-active_y.png) no-repeat center center;	
				}
				.color_b a.topbar_link.contacts.active{
				background: url(images/contacts-ico-active_b.png) no-repeat center center;	
				}
				.color_r a.topbar_link.contacts.active{
				background: url(images/contacts-ico-active_r.png) no-repeat center center;	
				}			
/* end header */

/* slide window */
.slide_window{
position: absolute;
z-index: 20;	
float: none;
top: 0px;
left: -1000px;	
width: 80%;
}
	.slide_window.toright{
	left: auto;
	right: -1000px;
	width: 60%;
	}
	.slide_window_ins{
	padding: 15px 20px 15px;
	position: relative;
	background: #292d2b;
	overflow: hidden;
	word-break: break-all;
	}
		.toright .slide_window_ins{
		background: #858c97;
		border-radius: 8px;
		}
			.color_y .toright .slide_window_ins{
			background: #8f8f8f;	
			}
			.color_b .toright .slide_window_ins{
			background: #8f8f8f;	
			}
			.color_r .toright .slide_window_ins{
			background: #73889d;	
			}			
		.slide_window_title{
		font: 600 14px 'Open Sans', sans-serif;
		color: #fff;
		text-transform: uppercase;
		padding: 0 0 15px 0;
		}
		.langmenu li{
		display: block;	
		}
		.langmenu li a{
		display: block;	
		position: relative;
		font: 14px 'Open Sans', sans-serif;
		color: #fff;
		padding: 8px 10px 8px 35px;
		border-radius: 6px;
		text-decoration: none;
		}
			.langmenu li.current-menu-item a{
			background: #595d65;	
			}	
				.color_y .langmenu li.current-menu-item a{
				background: #3d383f;	
				}
				.color_b .langmenu li.current-menu-item a{
				background: #2a2a2a;	
				}
				.color_r .langmenu li.current-menu-item a{
				background: #2d3e50;	
				}				
			.langlist_liimg{
			position: absolute;
			float: none;
			top: 9px;
			left: 8px;
			width: 18px;
			height: 12px;
			}
/* end slide window */

/* menu */
.logmenu{
margin: 0 0 10px 0;	
}
	a.toplink{
	float: left;
	padding: 6px 5px;
	border-radius: 4px;
	margin: 0 10px 0 0;
	background: #79808b;
	text-decoration: none;
	color: #fff;
	font: italic 12px 'Open Sans', sans-serif;
	}
		a.toplink.toplink_userlogin{
		background: #00c063;	
		}
.topmenu li{
display: block;
}
.topmenu li a{
display: block;
font: 600 13px 'Open Sans', sans-serif;
padding: 10px 0px;	
color: #fff;
text-transform: uppercase;
text-decoration: none;
border-bottom: 1px solid #383a39;
}
	.topmenu li.current-menu-item a{
	position: relative;
	color: #00c063;
	}
		.color_y .topmenu li.current-menu-item a{
		color: #ffe033;	
		}
		.color_b .topmenu li.current-menu-item a{
		color: #0090e4;	
		}
		.color_r .topmenu li.current-menu-item a{
		color: #eb5255;
		}	
/* end menu */

/* contacts menu */
.cmenu li{
display: block;
font: 13px 'Open Sans', sans-serif;
padding: 10px 10px 10px 0;	
color: #fff;
}
	.cmenu li a{
	color: #fff;	
	}
	.cmenu li span{
	padding: 5px 0 5px 33px;
	position: relative;
	}
		.cmenu li.icq span{
		background: url(images/icq.png) no-repeat 0 center;
		}
			.color_y .cmenu li.icq span{ background: url(images/icq_y.png) no-repeat 0 center; }
			.color_r .cmenu li.icq span{ background: url(images/icq_r.png) no-repeat 0 center; }
		.cmenu li.skype span{
		background: url(images/skype.png) no-repeat 0 center;
		}
			.color_y .cmenu li.skype span{ background: url(images/skype_y.png) no-repeat 0 center; }
			.color_r .cmenu li.skype span{ background: url(images/skype_r.png) no-repeat 0 center; }		
		.cmenu li.email span{
		background: url(images/email.png) no-repeat 0 center;
		}
			.color_y .cmenu li.email span{ background: url(images/email_y.png) no-repeat 0 center; }
			.color_r .cmenu li.email span{ background: url(images/email_r.png) no-repeat 0 center; }		
		.cmenu li.telegram span {
		background: url(images/telegram.png) no-repeat 0 center;
		}
			.color_y .cmenu li.telegram span{ background: url(images/telegram_y.png) no-repeat 0 center; }
			.color_r .cmenu li.telegram span{ background: url(images/telegram_r.png) no-repeat 0 center; }		
		.cmenu li.viber span{
		background: url(images/viber.png) no-repeat 0 center;
		}
			.color_y .cmenu li.viber span{ background: url(images/viber_y.png) no-repeat 0 center; }
			.color_r .cmenu li.viber span{ background: url(images/viber_r.png) no-repeat 0 center; }		
		.cmenu li.whatsup span{
		background: url(images/whatsup.png) no-repeat 0 center;
		}
			.color_y .cmenu li.whatsup span{ background: url(images/whatsup_y.png) no-repeat 0 center; }
			.color_r .cmenu li.whatsup span{ background: url(images/whatsup_r.png) no-repeat 0 center; }		
		.cmenu li.jabber span {
		background: url(images/jabber.png) no-repeat 0 center;
		}
			.color_y .cmenu li.jabber span{ background: url(images/jabber_y.png) no-repeat 0 center; }
			.color_r .cmenu li.jabber span{ background: url(images/jabber_r.png) no-repeat 0 center; }		
		.cmenu li.phone span {
		background: url(images/phone.png) no-repeat 0 center;
		}
			.color_y .cmenu li.phone span{ background: url(images/phone_y.png) no-repeat 0 center; }
			.color_r .cmenu li.phone span{ background: url(images/phone_r.png) no-repeat 0 center; }		
/* end contacts menu */

.wrapper{
position: relative;
overflow: hidden;	
}

.content{
padding: 15px 10px;
position: relative;
z-index: 10;	
}
	.home .content{
	padding: 15px 10px 0;	
	}

/* page */
.page_wrap_title{
font: bold 14px 'Open Sans', sans-serif;
text-transform: uppercase;	
padding: 0 0 15px 0;
}
/* end page */

/* text page */
.page_wrap{
margin: 0 -10px;
padding: 10px 15px;
background: #fff;	
}
	.color_y .page_wrap{
	background: #eeeeee;	
	}
	.color_b .page_wrap{
	background: #fff;
	border: 1px solid #ebebeb;	
	}
	.color_r .page_wrap{
	background: #fff;	
	}
.text p{padding:0 0 10px 0;}
.text h1{font: 600 22px 'Open Sans', sans-serif; color: #545454; margin:0 0 15px 0;}
.text h2{font: 600 20px 'Open Sans', sans-serif; color: #545454; margin:0 0 15px 0;}
.text h3{font: 600 18px 'Open Sans', sans-serif; color: #545454; margin:0 0 15px 0;}
.text h4{font: 600 16px 'Open Sans', sans-serif; color: #545454; margin:0 0 15px 0;}

.notice_message_text ul,
.warning_message_text ul,
.hexch_message_text ul,
.block_instruction ul,
.text ul{margin:0 0 10px 20px;}
	.rtl_body .notice_message_text ul,
	.rtl_body .warning_message_text ul,
	.rtl_body .hexch_message_text ul,
	.rtl_body .block_instruction ul,
	.rtl_body .text ul{
	margin: 0 20px 10px 0px;	
	}
.notice_message_text ul ul,
.warning_message_text ul ul,
.hexch_message_text ul ul,	
.block_instruction ul ul,
.text ul ul{margin: 0 0 0px 20px; padding: 10px 0 0 0;}
	.rtl_body .notice_message_text ul ul,
	.rtl_body .warning_message_text ul ul,
	.rtl_body .hexch_message_text ul ul,
	.rtl_body .block_instruction ul ul,
	.rtl_body .text ul ul {
	margin: 0 20px 0px 0px;	
	}
.notice_message_text ul li,
.warning_message_text ul li,
.hexch_message_text ul li,	
.block_instruction ul li,
.text ul li{
display:block;
background:url(images/liarr.png) no-repeat 0 3px;
padding:0 0 5px 12px;
}
	.color_y .notice_message_text ul li,
	.color_y .warning_message_text ul li,
	.color_y .hexch_message_text ul li,
	.color_y .block_instruction ul li,
	.color_y .text ul li{
	background: url(images/liarr_y.png) no-repeat 0 3px;	
	}
	.color_b .notice_message_text ul li,
	.color_b .warning_message_text ul li,
	.color_b .hexch_message_text ul li,	
	.color_b .block_instruction ul li,
	.color_b .text ul li{
	background: url(images/liarr_b.png) no-repeat 0 3px;	
	}
	.color_r .notice_message_text ul li,
	.color_r .warning_message_text ul li,
	.color_r .hexch_message_text ul li,	
	.color_r .block_instruction ul li,
	.color_r .text ul li{
	background: url(images/liarr_r.png) no-repeat 0 3px;	
	}
	.rtl_body .notice_message_text ul li,
	.rtl_body .warning_message_text ul li,
	.rtl_body .hexch_message_text ul li,
	.rtl_body .block_instruction ul li,
	.rtl_body .text ul li{
	padding: 0 12px 5px 0px;
	background-position: right 3px!important;
	}
.notice_message_text ol,
.warning_message_text ol,
.hexch_message_text ol,
.block_instruction ol,
.text ol{list-style-type:decimal;margin:0 0 10px 40px; color:#545454; }
	.rtl_body .notice_message_text ol,
	.rtl_body .warning_message_text ol,
	.rtl_body .hexch_message_text ol,
	.rtl_body .block_instruction ol,
	.rtl_body .text ol{
	margin: 0 40px 10px 0px;	
	}
.notice_message_text ol ol,
.warning_message_text ol ol,
.hexch_message_text ol ol,
.block_instruction ol ol,	
.text ol ol{margin: 0 0 0px 20px; padding: 10px 0 10px 0;}
	.rtl_body .notice_message_text ol ol,
	.rtl_body .warning_message_text ol ol,
	.rtl_body .hexch_message_text ol ol,
	.rtl_body .block_instruction ol ol,	
	.rtl_body .text ol ol{
	margin: 0 20px 0px 0px;	
	}
.text table{ 
border: none; margin:0 0 20px;
}
.text table th{
padding: 10px 5px;
font: 600 12px 'Open Sans', sans-serif;
color: #252927;
background: #f0f5f3; 
border: none;
text-transform: uppercase;
}
	.color_y .text table th{
	color: #fff;
	background: #3d383f;	
	}
	.color_b .text table th{
	background: #f8f8f6;	
	}
	.color_r .text table th{
	color: #fff;
	background: #2d3e50;	
	}
	.text table th.th1{ 
	border-radius: 3px 0 0 0;
	}
	.text table th.th2{ 
	border-radius: 0 3px 0 0;
	}
		.rtl_body .text table th.th1{ 
		border-radius: 0 3px 0 0;
		}
		.rtl_body .text table th.th2{ 
		border-radius: 3px 0 0 0;
		}	
.text table td{
padding: 10px 5px;
font: 13px 'Open Sans', sans-serif; 
background: #fff;
border-bottom: 1px solid #f7f7f8;
}
	.text table td.td1{ 
	border-radius: 0 0 0 3px;	
	}
	.text table td.td2{ 
	border-radius: 0 0 3px 0;
	}
		.rtl_body .text table th.td1{ 
		border-radius: 0 0 3px 0;
		}
		.rtl_body .text table th.td2{ 
		border-radius: 0 0 0 3px;
		}	
/* end text page */	

/* terms */
.term_description{
background: #fff;
padding: 10px 15px 1px;
margin: 0 0px 15px 0px;
border-radius: 3px;
}
	.color_y .term_description{
	background: #eeeeee;	
	}
	.color_b .term_description{
	background: #ffffff;
	border: 1px solid #ebebeb;
	}
	.color_r .term_description{
	background: #fff;	
	}
/* end terms */

/* news */
.many_news_wrap{
padding: 0 0 0px 0;
margin: 0 0 20px 0;
background: #fff;
border-radius: 3px;	
}
	.color_y .many_news_wrap{
	background: #eeeeee;	
	}
	.color_b .many_news_wrap{		
	background: #ffffff;
	}
	.color_r .many_news_wrap{
	background: #ffffff;
	}
.one_news{
border-bottom: 1px solid #ebebeb;
padding: 10px 15px 5px;
margin: 0 0px 0px 0px;
}
	.color_y .one_news{
	background: #eeeeee;	
	}
	.color_b .one_news{		
	background: #ffffff;
	}
	.color_r .one_news{
	background: #ffffff;
	}
.single_news_wrap{
padding: 10px 15px 5px;
margin: 0 0px 0px 0px;
background: #fff;
border-radius: 3px;
}
	.color_y .single_news_wrap{
	background: #eeeeee;	
	}
	.color_b .single_news_wrap{		
	background: #ffffff;
	}
	.color_r .single_news_wrap{
	background: #ffffff;
	}
	h2.one_news_title{
	margin: 0 0 10px 0;
	}
		h2.one_news_title a{
		text-decoration: none;
		color: #000;
		font: 700 14px 'Open Sans', sans-serif;
		text-transform: uppercase;
		}
	.one_news_excerpt{
	margin: 0 0 5px 0;
	}
		.one_news_excerpt a{
		color: #333;
		text-decoration: none;
		}
	.one_news_date{
	float: left;
	padding: 4px 15px;
	color: #858c97;
	font: 12px 'Open Sans', sans-serif;
	border-radius: 4px;
	background: #f0f5f3;
	margin: 0 0 10px 0;
	}
		.rtl_body .one_news_date{
		float: right;	
		}	
		.metabox_cats{
		color: #000;
		padding: 0 0 15px 0;
		font: 600 12px 'Open Sans', sans-serif;
		}
			.metabox_cats a{
			text-decoration: none;
			}
	a.more_news_link{
	float: left;
	padding: 6px 15px;
	border-radius: 4px;
	margin: 0 0px 10px 0;
	background: #79808b;
	text-decoration: none;
	color: #fff;
	font: italic 600 12px 'Open Sans', sans-serif;	
	}
		.rtl_body a.more_news_link{
		float: right;	
		}
		.color_y a.more_news_link{
		background: #8f8f8f;	
		}
		.color_b a.more_news_link{		
		background: #8f8f8f;
		}
		.color_r a.more_news_link{
		background: #73889d;
		}	
/* end news */

/* reserve shortcode */
.reserv_wrap{
margin: 0 0 20px 0;
position: relative;
}
	.reserv_many{
	overflow: hidden;
	}
		.one_reserv{
		float: left;
		width: 250px;
		margin: 0 10px 10px 0;
		border-radius: 3px;
		border: 1px solid #dedede;
		background: #fff;
		padding: 10px;
		}
			.rtl_body .one_reserv{
			float: right;
			margin: 0 0px 10px 10px;
			}		
			.color_y .one_reserv{
			border: none;
			background: #3d383f;
			}
			.color_b .one_reserv{
			border: none;
			background: #f8f8f6;
			}
			.color_r .one_reserv{
			border: none;
			background: #f8f8f6;
			}		
			.one_reserv_ico{
			float: left;
			width: 50px;
			height: 50px;
			}
				.rtl_body  .one_reserv_ico{
				float: right;	
				}			
			.one_reserv_block{
			float: right;
			width: 190px;
			color: #545454;
			font: 14px 'Open Sans', sans-serif;
			padding: 5px 0 0 0;
			}
				.rtl_body .one_reserv_block{
				float: left;	
				}			
				.color_y .one_reserv_block{
				color: #c4c4c4;
				}
				.color_b .one_reserv_block{
				color: #545454;
				}
				.color_r .one_reserv_block{
				color: #545454;
				}			
				.one_reserv_title{
				font: 600 14px 'Open Sans', sans-serif;
				margin: 0 0 1px 0;
				}
/* end reserve shortcode */

/* lchange shortcode */
.shortcode_lchanges{
margin: 0;	
}
	.shortcode_lchange_line{
	padding: 0 0 10px 0;	
	}
	.shortcode_lchange_date{
	font: 600 13px 'Open Sans', sans-serif;
	margin: 0 0 10px 0;
	}
		.shortcode_lchange_why{
		float: left;
		width: 85px;
		}
			.rtl_body .shortcode_lchange_why{
			float: right;	
			}
		.shortcode_lchange_ico{
		border-radius: 4px;
		border: 1px solid #f0f5f3;
		width: 50px;
		height: 50px;
		}
			.shortcode_lchange_txt{
			font: 13px 'Open Sans', sans-serif;
			padding: 6px 0 0 5px;
			}
				.rtl_body .shortcode_lchange_txt{
				padding: 6px 5px 0 0px;	
				}
		.shortcode_lchange_arr{
		float: left;
		width: 50px;
		height: 50px;
		background: url(images/harr.png) no-repeat 0 center;
		} 
			.rtl_body .shortcode_lchange_arr{
			float: right;	
			background: url(images/harr_l.png) no-repeat right center;
			}
/* end lchange shortcode */

/* site form */
.log_div_wrap, .cf_div_wrap, .reg_div_wrap, .lp_div_wrap, .rf_div_wrap, .acf_div_wrap, .domacc_div_wrap, .checkstatus_div_wrap{	
margin: 0 0 20px 0;
}
	.log_div_title, .cf_div_title, .reg_div_title, .lp_div_title, .rf_div_title, .acf_div_title, .domacc_div_title, .checkstatus_div_title{
	font: 600 14px 'Open Sans', sans-serif;
	text-transform: uppercase;	
	padding: 0 0 15px 0;
	}
	.log_div, .cf_div, .reg_div, .lp_div , .rf_div, .acf_div, .domacc_div, .checkstatus_div{
	background: #fff;
	border-radius: 3px;
	padding: 8px 15px 8px;
	margin: 0 0px 20px 0px;
	overflow: hidden;
	}
		.color_y .log_div, .color_y .cf_div, .color_y .reg_div, .color_y .lp_div, .color_y .rf_div,
		.color_y .acf_div, .color_y .domacc_div, .color_y .checkstatus_div{
		background: #eeeeee;	
		}
		.color_b .log_div, .color_b .cf_div, .color_b .reg_div, .color_b .lp_div, .color_b .rf_div,
		.color_b .acf_div, .color_b .domacc_div, .color_b .checkstatus_div{
		background: #fff;
		}
		.color_r .log_div, .color_r .cf_div, .color_r .reg_div, .color_r .lp_div, .color_r .rf_div,
		.color_r .acf_div, .color_r .domacc_div, .color_r .checkstatus_div{
		background: #fff;
		}	
		.log_label, .cf_label, .reg_label, .lp_label, .rf_label, .acf_label, .checkstatus_label{
		margin: 0;
		padding: 0 0 3px;
		font: 600 13px 'Open Sans', sans-serif;
		}	
		.log_line, .cf_line, .reg_line, .lp_line, .rf_line, .acf_line, .checkstatus_line {
		padding: 8px 0;
		}
			.log_line_subm_left, .reg_line_subm_left{
			float: left;
			}
			.log_line_subm_right{
			float: left;
			margin: 0 0 0 20px;
			}
				.log_line_subm_right p{
				padding: 1px 0;
				}
			.reg_line_subm_right{
			float: left;
			margin: 11px 0 0 20px;
			}		
/* end site form */

/* reviews */
.many_reviews{
margin: 0 0 20px 0;
}
	.no_reviews{
	background: #fff;
	padding: 10px 10px 10px;	
	margin: 0 0px 20px;	
	border-radius: 4px;
	}
		.color_y .no_reviews{
		background: #eeeeee;	
		}	
	.one_reviews{
	background: #fff;
	padding: 10px 10px 1px;	
	margin: 0 0px 20px;	
	border-radius: 4px;
	}
		.color_y .one_reviews{
		background: #eeeeee;	
		}	
		.one_reviews_name{
		float: left;
		font: 600 13px 'Open Sans', sans-serif;
		margin: 0 5px 10px 0;
		}
			.rtl_body .one_reviews_name{
			float: right;
			margin: 0 0px 10px 5px;
			}		
		.one_reviews_date{
		float: left;
		font: 600 13px 'Open Sans', sans-serif;
		}
			.rtl_body .one_reviews_date{
			float: right;	
			}		
		.one_reviews_text{
		font: italic 13px 'Open Sans', sans-serif;
		}
			.one_reviews_text p{
			padding: 0 0 10px 0;
			}
/* end reviews */

/* userwallets */
.userwallets_form{
background: #fff;
margin: 0 0px 20px;
padding: 15px 20px;
border-radius: 3px;
}
	.color_y .userwallets_form{
	background: #f4f4f4;
	}
	.color_b .userwallets_form{
	border: 1px solid #ebebeb;
	background: #fff;
	}
	.color_r .userwallets_form{
	background: #fff;
	}
	.userwallets_form_title{
	font: bold 14px 'Open Sans', sans-serif;
	text-transform: uppercase;	
	padding: 0 0 15px 0;
	}
		.userwallets_one_tab{
		padding: 10px 0 0 0;
		display: none;
		}
			.userwallets_one_line{
			margin: 0 0 10px 0;
			}
				input.shot_schet{
				float: left;
				width: 70px;
				margin: 0 10px 0 0;
				}
					.rtl_body input.shot_schet{
					float: right;	
					margin: 0 0px 0 10px;
					}				
			.userwallets_help{
			background: #f7fbcd;
			border-bottom: 2px solid #b0c000;
			padding: 10px 15px;
			margin: 0 0 10px 0;
			}		
.userwallets_table{
margin: 0 0 20px 0;
}
	.userwallets_table_title{
	font: bold 14px 'Open Sans', sans-serif;
	text-transform: uppercase;	
	padding: 0 0 15px 0;
	}	
		.userwallets_table_one{
		background: #fff;
		padding: 15px 20px;
		margin: 0 0 2px 0;
		position: relative;
		border-radius: 3px;
		}
			.userwallets_one_title{
			font: 600 14px 'Open Sans', sans-serif;
			margin: 0 0 5px 0;
			}
			.close_userwallets{
			position: absolute;
			float: none;
			top: 10px;
			right: 10px;
			width: 35px;
			height: 35px;
			background: url(images/big_close.png) no-repeat center center;
			cursor: pointer;
			}
				.rtl_body .close_userwallets{
				right: auto;
				left: 10px;
				}			
				.close_userwallets:hover{
				opacity: 0.8;
				}
				.close_userwallets.act{
				background: url(images/ajax-loader.gif) no-repeat center center;
				}
			.verify_status{
			padding: 5px 0 0 0;
			font: 600 13px 'Open Sans', sans-serif;
			}
				.verify_status.wait{
				color: #858c97;
				}
				.verify_status.success{
				color: #00c063;
				}		
				.verify_status.not{
				color: #c00068;
				}			
					.verify_status a{
					color: #c00068;
					text-decoration: none;
					border-bottom: 1px dotted #c00068;
					}
						.verify_status a:hover{
						border-bottom: 1px dotted #fff;
						}
			.verify_tab_action_div{
			display: none;
			}
				.verify_tab_action_div_ins{
				padding: 10px 0 0 20px;
				}			
					.verify_tab_descr{
					font: italic 13px 'Open Sans', sans-serif;	
					}
						.verify_tab_descr p{
						padding: 0 0 10px 0;
						}
					.verify_acc_syst{
					padding: 0 0 10px 0;	
					}
					.verify_acc_file{
					padding: 0 0 10px 0;	
					}
						.verify_accline_wrap{
						padding: 0 0 10px 0;	
						}
							.verify_acc_line{
							margin: 0 0 5px 0;	
							}						
						
			.verify_tab_action_link{
			float: left;
			background: #00c063;
			border-radius: 3px;
			height: 40px;
			padding: 0 25px;
			-webkit-transition: all 0.3s linear;
				-moz-transition: all 0.3s linear;
					-o-transition: all 0.3s linear;
						transition: all 0.3s linear; 
			color: #fff;
			font: 600 13px/40px 'Open Sans', sans-serif;	
			cursor: pointer;
			}
				.rtl_body  .verify_tab_action_link{
				float: right;	
				}
				.color_y .verify_tab_action_link{
				border: 1px solid #ffe033;
				background: #ffe033;
				color: #2a2a2a;
				}
				.color_b .verify_tab_action_link{
				border: 1px solid #0090e4;
				background: #0090e4;
				color: #fff;
				}
				.color_r .verify_tab_action_link{
				border: 1px solid #eb5255;
				background: #eb5255;
				color: #fff;
				}				
				.verify_tab_action_link:hover{
				background: #02944d;
				text-decoration: none;				
				}
					.color_y .verify_tab_action_link:hover{
					border: 1px solid #3d383f;
					background: #3d383f;
					color: #fff;
					}
					.color_b .verify_tab_action_link:hover{
					border: 1px solid #2a2a2a;
					background: #2a2a2a;
					color: #fff;
					}
					.color_r .verify_tab_action_link:hover{
					border: 1px solid #2d3e50;
					background: #2d3e50;
					color: #fff;
					}				
				.verify_tab_action_link.act{
				background: #ccc;
				cursor: default;				
				}						
/* end userwallets */

/* promotional */
.promopage{
background: #fff;
border-radius: 3px;
margin: 0 0 30px 0;
padding: 15px 20px 1px;
}
	.color_y .promopage{
	background: #f4f4f4;
	}
	.color_b .promopage{
	border: 1px solid #ebebeb;
	background: #fff;
	}
	.color_r .promopage{
	background: #fff;
	}
.promo_topmenu{
margin: 0 0 10px 0;
}
    .promo_topmenu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	}
		.promo_topmenu li{
		float: left;
		padding: 0;
		margin: 0 5px 5px 0;
		background: none;
		}
			.rtl_body .promo_topmenu li{
			margin: 0 0px 5px 5px;	
			}		
			.promo_topmenu a{
			float: left;
			margin: 0;
			padding: 0;
			padding: 6px 10px;
			font: 600 12px 'Open Sans', sans-serif;
			background: #eb8500;
			color: #fff;
			text-decoration: none;
			}
			.promo_topmenu li.current a{
			text-decoration: none;
			color: #000;
			}
.promotext_warning{
margin: 0 0 10px 0;
}
    .one_promotxt{
	margin: 0 0 5px 0;
	font: italic 600 12px 'Open Sans', sans-serif;
	}
	.one_promotxt_code{
	margin: 0 0 20px 0;
	}
	.partner_textarea{	
    height: 100px; 
	min-height: 100px;
	max-height: auto;
	}		
.promo_menu{
margin: 0 0 10px 0;
}
    .promo_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	}
    .promo_menu ul li{
	display: inline;
	margin: 0 5px 0 0;
	padding: 0;
	background: none;
	}
		.rtl_body .promo_menu ul li{
		margin: 0 0px 0 5px;	
		}	
	.promo_menu ul li a{
	position: relative;
	margin: 0;
    border-bottom: 1px dotted #09344b;
    color: #09344b;
	text-decoration: none;
	}
	.promo_menu ul li a:hover{
	position: relative;
	margin: 0;
    border-bottom: 1px dotted #ff0000;
    color: #ff0000;
	text-decoration: none;
	}
	.promo_menu ul li.act a{
	position: relative;
	margin: 0;
    border-bottom: none;
    color: #000;
	text-decoration: none;
	}
	.pbcontainer{
	display: none;
	}
	    .pbcontainer.act{
		display: block;
		}
		.prevbanner{
		margin: 0 0 5px 0;
		}
		.bannerboxone{
		margin: 0 0 25px 0;
		}	
			.bannerboxlink a{
			position: relative;
			margin: 0;
			border-bottom: 1px dotted #09344b;
			color: #09344b;
			text-decoration: none;		
			}
			.bannerboxlink a.act{
			position: relative;
			margin: 0;
			border-bottom: 1px dotted #000;
			color: #000;
			font-weight: 600;
			text-decoration: none;
			}			
			.bannerboxlink a:hover, .bannerboxlink a.act:hover{
			position: relative;
			margin: 0;
			border-bottom: 1px dotted #ff0000;
			color: #ff0000;
			text-decoration: none;
			}
		.bannerboxtextarea{
		padding: 10px 0 0 0;
		display: none;
		}
/* end promotional */

/* plinks */
.paytable, .userxch_table{
margin: 0 0 20px 0;
}
.userxch_table, .payouts_table, .plinks_table, .preferals_table, .userverify_table{
margin: 0 0 20px 0;
}
.paytable_title, .userxchtable_title, .userverify_table_title{
font: 600 16px 'Open Sans', sans-serif;
margin: 0 0 10px 0;
}
.plinks_table,
.preferals_table,
.paytable,
.userverify_table
{
margin: 0 0 20px 0;
}
.plinks_table .no_items,
.preferals_table .no_items,
.paytable .no_items,
.userxch_table .no_items,
.userverify_table .no_items
{
background: #fff;
border-radius: 4px;
padding: 15px 20px;	
margin: 0 0px 0px;	
}
.plinks_table .one_item,
.preferals_table .one_item,
.paytable .one_item,
.userxch_table .one_item,
.userverify_table .one_item
{
padding: 15px 20px;
background: #fff;
border-radius: 4px;
margin: 0 0 10px 0;
}
.plinks_table .one_item_line,
.preferals_table .one_item_line,
.paytable .one_item_line,
.userxch_table .one_item_line,
.userverify_table .one_item_line
{
padding: 3px 0;
}
.plinks_table .one_item_label,
.preferals_table .one_item_label,
.paytable .one_item_label,
.userxch_table .one_item_label,
.userverify_table .one_item_label
{
padding: 0 10px 0 0;
font: 600 12px 'Open Sans', sans-serif;	
}
.plinks_table .one_item_content,
.preferals_table .one_item_content,
.paytable .one_item_content,
.userxch_table .one_item_content,
.userverify_table .one_item_content
{
font: 12px 'Open Sans', sans-serif;		
}
	a.delpay_link{
	font: 600 12px 'Open Sans', sans-serif;
	color: #fff;
	position: relative;
	padding: 4px 10px;
	background: #ff0000;
	}
		a.delpay_link.act{
		cursor: default;
		color: #ccc;
		}	
	.paystatus{
	font: 600 12px 'Open Sans', sans-serif;
	}
		.paystatus.pst1{ color: #0390cb; }
		.paystatus.pst2{ color: #03cb29; }
		.paystatus.pst3{ color: #ff0000; }
		.paystatus.pst4{ color: #ff0000; }
	.uo_curs2{	
	background:url(images/liarr.png) no-repeat 0 3px;
	padding:0 0 0 12px;
	margin: 0 0 0 6px;
	}
		.color_y .uo_curs2{
		background: url(images/liarr_y.png) no-repeat 0 3px;	
		}
		.color_b .uo_curs2{
		background: url(images/liarr_b.png) no-repeat 0 3px;	
		}
		.color_r .uo_curs2{
		background: url(images/liarr_r.png) no-repeat 0 3px;	
		}	
		.rtl_body .uo_curs2{
		background-position: right 3px!important;
		padding: 0 12px 0 0px;
		margin: 0 6px 0 0px;			
		}	
	a.uostatus_link{
	font: 600 13px 'Open Sans',serif;	
	color: #0390cb;
	}
		a.uostatus_link.uost_payed,
		a.uostatus_link.uost_coldpay,
		a.uostatus_link.uost_realpay,
		a.uostatus_link.uost_verify
		{
		color: #c9cb03;	
		}
		a.uostatus_link.uost_error
		{
		color: #ff0000;	
		}		
		a.uostatus_link.uost_coldsuccess,
		a.uostatus_link.uost_success
		{
		color: #03cb29;	
		}		
		.uosum{
		font-weight: 600;
		}	
/* end plinks */

/* userverify */
.userverify_text{
margin: 0 0 20px 0;
padding: 15px 20px 5px;
background: #fff;
border-radius: 3px;
}
	.color_y .userverify_text{
	background: #f4f4f4;
	}
	.color_b .userverify_text{
	border: 1px solid #ebebeb;
	background: #fff;
	}
	.color_r .userverify_text{
	background: #fff;
	} 
.userverify_div{
margin: 0 0 20px 0;
padding: 15px 20px;
background: #fff;
border-radius: 3px;
}
	.color_y .userverify_div{
	background: #f4f4f4;
	}
	.color_b .userverify_div{
	border: 1px solid #ebebeb;
	background: #fff;
	}
	.color_r .userverify_div{
	background: #fff;
	} 
	.ustbl_line{
	padding: 5px 0px 0;
	margin: 0 0 5px 0;
	}
	.ustbl_th{
	padding: 0px 0px 3px 0;
	font: 600 13px 'Open Sans', sans-serif;
	}
	.ustbl_clear{
	clear: both;	
	}
.usvefilelock{
margin: 0 0 5px 0;
}
	.usvelabeldown{
	font: 600 13px 'Open Sans', sans-serif;
	padding: 0 0 3px 0;
	}
	.usvelabeldownsyst{
	font: 600 11px 'Open Sans', sans-serif;
	padding: 0 0 10px 0;
	}	
	.usveupfile{
	margin: 0 0 10px 0;
	}
.userverify_table_title{
margin: 0 0 15px 0;
font: 600 22px 'Open Sans', sans-serif;
}
/* end userverify */

/* domacc */
.domacc_line{
padding: 5px 0;
border-bottom: 1px solid #eee;
}
	.domacc_label{
	margin: 0 10px 0 0;
	min-width: 50px;
	float: left;
	font: 600 13px 'Open Sans',serif;
	color: #252927;
	}
		.rtl_body .domacc_label{
		margin: 0 0px 0 10px;
		float: right;
		}	
	.domacc_val{
	float: left;
	width: 200px;
	font: 13px 'Open Sans',serif;
	}
		.rtl_body .domacc_val{
		float: right;	
		}	
/* end domacc */

/* partner stats */
.stattablediv, .userxch_tablediv{
background: #fff;
border-radius: 3px;
margin: 0 0px 20px;
padding: 13px 10px;	
}
	.color_y .stattablediv, .color_y .userxch_tablediv{
	background: #f4f4f4;
	}
	.color_b .stattablediv, .color_b .userxch_tablediv{
	border: 1px solid #ebebeb;
	background: #fff;
	}
	.color_r .stattablediv, .color_r .userxch_tablediv{
	background: #fff;
	} 
	.stattablediv table, .userxch_tablediv table{ width: 100%; }
	.stattablediv table th, .userxch_tablediv table th{padding: 2px 10px; text-align:left; background:none; font: 600 13px 'Open Sans', sans-serif;}
	.stattablediv table td, .userxch_tablediv table td{padding: 2px 10px; text-align:right; background:none; font: 13px 'Open Sans', sans-serif;}	
	
.statuserdiv{
background: #fff;
border-radius: 3px;
margin: 0 0px 20px;
padding: 13px 10px;
}
	.color_y .statuserdiv{
	background: #f4f4f4;
	}
	.color_b .statuserdiv{
	border: 1px solid #ebebeb;
	background: #fff;
	}
	.color_r .statuserdiv{
	background: #fff;
	} 	
	.statuserdiv_title{
	font: 600 18px 'Open Sans', sans-serif;	
	padding: 0 0 5px 10px;
	}
	.statuserdiv table{
	width: 100%; 
	}
	.statuserdiv table th{padding: 2px 10px;text-align:left;background:none; font: 600 13px 'Open Sans', sans-serif; }
	.statuserdiv table td{padding: 2px 10px;text-align:right;background:none;font: 13px 'Open Sans', sans-serif; }	
	
.promouserdiv h3{
font: 600 16px 'Open Sans', sans-serif;
margin: 0 0 10px 0;
}
.promouserdiv h4{
font: 600 13px 'Open Sans', sans-serif;
margin:0 0 10px 0;
}
.promouserdiv p{
padding: 0 0 10px 0;
}
/* end partner stats */

/* partner payouts */
.paytext{
border-radius: 3px;	
font: 12px 'Open Sans', sans-serif;
background: #fff;
padding: 15px 20px;	
margin: 0 0px 20px;
}
	.color_y .paytext{
	background: #f4f4f4;
	}
	.color_b .paytext{
	border: 1px solid #ebebeb;
	background: #fff;
	}
	.color_r .paytext{
	background: #fff;
	}
.paydiv{
border-radius: 3px;		
font: 12px 'Open Sans', sans-serif;
background: #fff;
padding: 15px 20px;	
margin: 0 0px 20px;
}
	.color_y .paydiv{
	background: #f4f4f4;
	}
	.color_b .paydiv{
	border: 1px solid #ebebeb;
	background: #fff;
	}
	.color_r .paydiv{
	background: #fff;
	} 
	.pay_left_col{
	padding: 0 0 5px 0;
	font: 600 13px 'Open Sans', sans-serif;
	}
	.pay_select{
	margin: 0 0 5px 0;
	}
	.pay_input{
	position: relative;
	margin: 0 0 10px 0;
	}
		input.pay_input_purse{
		padding-left: 55px;
		}
			.rtl_body input.pay_input_purse{
			padding-right: 55px;
			padding-left: 10px;
			}		
		.pay_purse_link{
		position: absolute;
		float: none;
		top: 0;
		left: 0px;
		border-radius: 3px 0 0 3px;
		width: 50px;
		height: 100%;
		cursor: pointer;
		background: #fff url(images/purse.png) no-repeat center center;
		}
			.rtl_body .pay_purse_link{
			left: auto;
			right: 0px;
			}
			.pay_purse_link_ins{
			position: relative;
			width: 16px;
			height: 16px;
			}
			.pay_purse_ul{
			position: absolute;
			float: none;
			top: 33px;
			left: 0px;
			width: 300px;
			background: #fff;		
			box-shadow: 0 0 5px #9fa3a1;
			display: none;
			max-height: 100px;
			overflow-y: scroll;
			}
				.rtl_body .pay_purse_ul{
				left: auto;
				right: 0px;
				}
				.pay_purse_line{
				display: none;
				padding: 5px 10px;
				border-bottom: 1px solid #eee;
				}
/* end partner payouts */

/* sitemap */
.sitemap_block{
margin: 0 0 20px 0;
}
	.sitemap_title{
	float: left;
	position: relative;
	margin: 0 0 10px 0;
	border-radius: 30px;
	font: 600 12px 'Open Sans', sans-serif;
	color: #fff;
	padding: 5px 15px 7px;
	background: #858c97;
	border-top: 2px solid #7b818b;
	}
		.color_y .sitemap_title{
		color: #000;
		background: #ffe033;
		border-top: 2px solid #ffe033;
		}
		.color_b .sitemap_title{
		background: #0090e4;
		border-top: 2px solid #0090e4;
		}
		.color_r .sitemap_title{
		background: #eb5255;	
		border-top: 2px solid #eb5255;
		}
		.rtl_body .sitemap_title{
		float: right;	
		}		
		ul.sitemap_ul_exchanges li{
		display: block;
		padding: 0 0px 5px 12px;
		background:url(images/liarr.png) no-repeat 0 3px;
		}
		ul.sitemap_ul li{
		display: block;
		padding: 0 0px 5px 12px;
		background: url(images/liarr.png) no-repeat 0 3px;
		}
			.color_y ul.sitemap_ul_exchanges li,.color_y ul.sitemap_ul li{
			background:url(images/liarr_y.png) no-repeat 0 3px;
			}
			.color_b ul.sitemap_ul_exchanges li,.color_b ul.sitemap_ul li{
			background:url(images/liarr_b.png) no-repeat 0 3px;
			}
			.color_r ul.sitemap_ul_exchanges li,.color_r ul.sitemap_ul li{
			background:url(images/liarr_r.png) no-repeat 0 3px;
			}
			.rtl_body ul.sitemap_ul li, .rtl_body ul.sitemap_ul_exchanges li{
			padding: 0 12px 5px 0px;
			background-position: right 3px!important;
			}			
/* end sitemap */

/* tarifs */
.tarif_block{
margin: 0 0 0px 0;
}
	.tarif_title{
	position: relative;
	font: 600 14px 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding: 15px 10px;
	margin: 0 0 5px 0;
	background: #f0f5f3;
	}
		.color_y .tarif_title{
		color: #fff;
		background: #3d383f;	
		}
		.color_b .tarif_title{
		background: #f8f8f6;	
		}
		.color_r .tarif_title{
		color: #fff;
		background: #2d3e50;	
		}	
		a.one_tarif_line{
		display: block;
		text-decoration: none;
		padding: 10px 10px 0;
		background: #ffffff;
		border-bottom: 1px solid #ebebeb;
		color: #333;
		margin: 0 0 10px 0;
		}
			.tarif_curs_one{
			float: left;
			width: 49%;
			text-decoration: none;
			padding: 0 0 10px 0;
			font: 12px 'Open Sans', sans-serif;
			}
				.rtl_body .tarif_curs_one{
				float: right;	
				}	
				.give .tarif_curs_image{
				background: url(images/liarr.png) no-repeat right center;
				}
					.color_y .give .tarif_curs_image{
					background: url(images/liarr_y.png) no-repeat right center;	
					}
					.color_b .give .tarif_curs_image{
					background: url(images/liarr_b.png) no-repeat right center;	
					}
					.color_r .give .tarif_curs_image{
					background: url(images/liarr_r.png) no-repeat right center;	
					}	
					.rtl_body .give .tarif_curs_image{
					background: none;	
					}	
				.tarif_curs_image{
				height: 50px;
				padding: 0 0 5px 0;
				}
					.tarif_curs_logo{
					height: 50px;
					width: 50px;
					}
				.tarif_curs_sum{
				color: #545454;
				}
			.tarif_curs_reserv{
			border-top: 1px solid #ebebeb;
			background: #f0f5f3;
			text-decoration: none;
			margin: 0 -10px;
			padding: 5px 10px;	
			color: #333;
			font: 600 12px 'Open Sans', sans-serif;
			}
				.color_y .tarif_curs_reserv{
				color: #fff;
				background: #3d383f;	
				}
				.color_b .tarif_curs_reserv{
				background: #f8f8f6;	
				}
				.color_r .tarif_curs_reserv{
				color: #fff;
				background: #2d3e50;	
				}			
/* end tarifs */

/* homepage */
.home_wtext_block{
margin: 0 0px 10px 0;
padding: 0 10px 1px 50px;
background: url(images/wtext_ico.png) no-repeat 0px 3px;
color: #000;
}
	.color_y .home_wtext_block{
	color: #c4c4c4;	
	background: url(images/wtext_ico_y.png) no-repeat 0px 3px;
	}
	.color_b .home_wtext_block{
	color: #545454;
	background: url(images/wtext_ico_b.png) no-repeat 0px 3px;
	}
	.color_r .home_wtext_block{
	color: #545454;	
	background: url(images/wtext_ico_r.png) no-repeat 0px 3px;
	}
	.rtl_body .home_wtext_block{
	padding: 0 50px 1px 10px;	
	background-position: right 3px!important;	
	}
		.home_wtext_block a{
		color: #000;	
		}
			.color_y .home_wtext_block a{
			color: #c4c4c4;	
			}
			.color_b .home_wtext_block a{
			color: #545454;
			}
			.color_r .home_wtext_block a{
			color: #545454;	
			}	
	.home_wtext_title{
	margin: 0 0 5px 0;
	font: 700 14px 'Open Sans', sans-serif;
	text-transform: uppercase;		
	}
.home_text_block{
padding: 15px 10px 5px 10px;
margin: 0 -10px 0px;
color: #000;
background: #fff;
}
	.home_text_block_ins{
	padding: 0 0 0 50px;
	background: url(images/text_ico.png) no-repeat 0px 3px;
	}
		.color_y .home_text_block_ins{
		background: url(images/text_ico_y.png) no-repeat 0px 3px;
		}
		.color_b .home_text_block_ins{
		background: url(images/text_ico_b.png) no-repeat 0px 3px;
		}
		.color_r .home_text_block_ins{
		background: url(images/text_ico_r.png) no-repeat 0px 3px;
		}	
		.rtl_body .home_text_block_ins{
		padding: 0 50px 0px 0px;	
		background-position: right 3px!important;	
		}		
	.home_text_title{
	margin: 0 0 5px 0;
	font: 700 14px 'Open Sans', sans-serif;
	text-transform: uppercase;		
	}
.home_lchange_div{
margin: 0 -10px 0;
padding: 15px 10px 10px;
background: #fff;
}
	.color_y .home_lchange_title{
	border-bottom: 1px solid #cacecc;	
	}
	.color_b .home_lchange_title{
	border-bottom: 1px solid #cacecc;
	}
	.home_lchange_title{
	margin: 0 0 15px 0;
	padding: 0 0 0px 50px;
	font: 700 14px/38px 'Open Sans', sans-serif;
	text-transform: uppercase;	
	background: url(images/lastobmen_ico.png) no-repeat 0px 0px;			
	}
		.color_y .home_lchange_title{
		background: url(images/lastobmen_ico_y.png) no-repeat 0px 0px;
		}
		.color_b .home_lchange_title{
		background: url(images/lastobmen_ico_b.png) no-repeat 0px 0px;
		}
		.color_r .home_lchange_title{
		background: url(images/lastobmen_ico_r.png) no-repeat 0px 0px;
		}	
		.rtl_body .home_lchange_title{
		padding: 0 50px 0px 0px;	
		background-position: right 0px!important;	
		}	
		.home_lchange_date{
		color: #545454;
		font: 14px 'Open Sans', sans-serif;	
		margin: 0 0px 10px 0;
		}
			.home_lchange_why{
			float: left;
			width: 130px;
			}
				.rtl_body .home_lchange_why{
				float: right;	
				}
				.home_lchange_ico{
				float: left;
				width: 50px;
				height: 50px;
				}
					.rtl_body .home_lchange_ico{
					float: right;	
					}
				.home_lchange_txt{
				float: left;
				width: 73px;
				overflow: hidden;
				font: 12px 'Open Sans', sans-serif;
				padding: 9px 0 0 5px;
				}
					.rtl_body .home_lchange_txt{
					float: right;	
					padding: 9px 5px 0 0px;
					}
			.home_lchange_arr{
			float: left;
			width: 40px;
			height: 50px;
			background: url(images/harr.png) no-repeat 0 center;
			}	
				.rtl_body .home_lchange_arr{
				float: right;
				background: url(images/harr_l.png) no-repeat right center;
				}	
.home_reviews_block{
position: relative;
background: #858c97;
margin: 0 -10px;
padding: 15px 10px;	
}
	.color_y .home_reviews_block{
	background: #eeeeee;
	}
	.color_b .home_reviews_block{
	background: #d9e5ec;
	}
	.color_r .home_reviews_block{
	background: #2d3e50;
	}
	.home_reviews_title{
	margin: 0 0 10px 0;
	color: #fff;
	padding: 0 0 0px 50px;
	font: 700 14px/38px 'Open Sans', sans-serif;
	text-transform: uppercase;	
	background: url(images/reviews_ico.png) no-repeat 0px 0px;	
	}
		.color_y .home_reviews_title{
		background: url(images/reviews_ico_y.png) no-repeat 0px 0;
		color: #545454;
		}
		.color_b .home_reviews_title{
		background: url(images/reviews_ico_b.png) no-repeat 0px 0;
		color: #545454;
		}
		.color_r .home_reviews_title{
		background: url(images/reviews_ico_r.png) no-repeat 0px 0;
		}
		.rtl_body .home_reviews_title{
		padding: 0 50px 0px 0px;	
		background-position: right 0px!important;	
		}		
		.home_reviews_one{
		padding: 0 0 20px 0;
		color: #e4eae7;
		font: italic 13px 'Open Sans', sans-serif;
		}
			.color_y .home_reviews_one{
			color: #545454;
			}
			.color_b .home_reviews_one{
			color: #545454;
			}		
			.home_reviews_date{
			font: 600 13px 'Open Sans', sans-serif;
			margin: 0 0 5px 0;
			color: #fff;
			}	
				.home_reviews_date a{
				color: #fff;
				text-decoration: none;
				}
				.color_y .home_reviews_date, .color_y .home_reviews_date a{
				color: #545454;
				}
				.color_b .home_reviews_date, .color_b .home_reviews_date a{
				color: #545454;
				}				
			.home_reviews_more a{
			color: #545454;
			padding: 8px 0px;
			display: block;
			margin: 0 auto;
			width: 160px;
			text-align: center;
			background: #e1e7e4;
			border-radius: 4px;
			font: italic 13px 'Open Sans', sans-serif;
			text-decoration: none;
			}
				.home_reviews_more a:hover{
				text-decoration: none;
				}
				.color_y .home_reviews_more a{
				background: #ffe033;
				color: #545454;
				}
				.color_b .home_reviews_more a{
				background: #0090e4;
				color: #fff;
				}
				.color_r .home_reviews_more a{
				background: #eb5255;
				color: #fff;
				}

.home_news_wrap{
position: relative;
background: #e4eae7;
margin: 0 -10px;
padding: 15px 10px;	
border-bottom: 1px solid #cacecc;
}
	.color_y .home_news_wrap{
	background: #ffffff;
	}
	.color_b .home_news_wrap{
	background: #ffffff;
	}
	.color_r .home_news_wrap{
	background: #e4ebf5;
	}
	.home_news_title{
	margin: 0 0 10px 0;
	color: #2a2a2a;
	padding: 0 0 0px 50px;
	font: 700 14px/38px 'Open Sans', sans-serif;
	text-transform: uppercase;	
	background: url(images/news_ico.png) no-repeat 0px 0px;	
	}
		.color_y .home_news_title{
		background: url(images/news_ico_y.png) no-repeat 0px 0;
		}
		.color_b .home_news_title{
		background: url(images/news_ico_b.png) no-repeat 0px 0;
		}
		.color_r .home_news_title{
		background: url(images/news_ico_r.png) no-repeat 0px 0;
		}
		.rtl_body .home_news_title{
		padding: 0 50px 0px 0px;	
		background-position: right 0px!important;	
		}		
		.home_news_one{
		padding: 0 0 20px 0;
		color: #545454;
		font: 13px 'Open Sans', sans-serif;
		}		
			.home_news_date{
			float: left;
			font: 12px 'Open Sans', sans-serif;
			margin: 0 0 5px 0;
			padding: 3px 10px;
			color: #858c97;
			background: #fff;
			border-radius: 30px;
			}	
				.color_y .home_news_date{
				color: #858c97;
				background: #eeeeee;
				}
				.color_b .home_news_date{
				color: #858c97;
				background: #f8f8f6;
				}
				.color_r .home_news_date{
				color: #858c97;
				background: #fff;
				}				
			a.home_news_more{
			color: #fff;
			padding: 8px 0px;
			display: block;
			margin: 0 auto;
			width: 160px;
			text-align: center;
			background: #79808b;
			border-radius: 4px;
			font: italic 13px 'Open Sans', sans-serif;
			text-decoration: none;
			}
				a:hover.home_news_more{
				text-decoration: none;
				}
				.color_y a.home_news_more{
				background: #8f8f8f;
				color: #fff;
				}
				.color_b a.home_news_more{
				background: #0090e4;
				color: #fff;
				}
				.color_r a.home_news_more{
				background: #eb5255;
				color: #fff;
				}		

				
.home_partner_div{
margin: 0 -10px 0;
padding: 15px 10px 10px;
background: #858c97;
}
	.color_y .home_partner_div{
	background: #eeeeee;	
	}
	.color_b .home_partner_div{
	background: #d9e5ec;	
	}
	.color_r .home_partner_div{
	background: #ffffff;	
	}	
	.home_partner_title{
	margin: 0 0 15px 0;
	font: 700 14px/38px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #fff;
	}		
		.home_partner_one{
		float: left;
		margin: 0 10px 10px 0;
		}	
			.rtl_body .home_partner_one{
			float: right;	
			margin: 0 0px 10px 10px;	
			}
.home_reserv_block{
margin: 0 0px 0 0px;
padding: 15px 0 15px 0;
}
	.home_reserv_title{
	margin: 0 0 15px 0;
	font: 700 14px/38px 'Open Sans', sans-serif;
	text-transform: uppercase;				
	}
	.home_reserv_many{
	overflow: hidden;
	}
		.one_home_reserv{
		float: left;
		width: 49%;
		margin: 0 0px 10px 0;
		border-radius: 3px;
		background: #fff;
		padding: 5px;
		box-sizing: border-box;
			-moz-box-sizing: border-box; 
				-webkit-box-sizing: border-box;	
		overflow: hidden;		
		}
			.rtl_body .one_home_reserv{
			float: right;	
			}	
			.color_y .one_home_reserv{
			background: #3d383f;
			}
			.color_b .one_home_reserv{
			background: #f8f8f6;
			}
			.color_r .one_home_reserv{
			background: #ffffff;
			}		
			.one_home_reserv.reserv_right{
			float: right;	
			}
				.rtl_body .one_home_reserv.reserv_right{
				float: left;	
				}
				.one_home_reserv_ico{
				float: left;
				width: 50px;
				height: 50px;
				}
					.rtl_body .one_home_reserv_ico{
					float: right;	
					}
				.one_home_reserv_block{
				float: left;
				width: 120px;
				color: #545454;
				font: 12px 'Open Sans', sans-serif;
				padding: 8px 0 0 5px;
				}
					.rtl_body .one_home_reserv_block{
					float: right;
					padding: 8px 5px 0 0px;
					}
					.color_y .one_home_reserv_block{
					color: #c4c4c4;
					}
					.color_b .one_home_reserv_block{
					color: #545454;
					}
					.color_r .one_home_reserv_block{
					color: #545454;
					}				
					.one_home_reserv_title{
					font: 600 12px 'Open Sans', sans-serif;
					margin: 0 0 1px 0;
					}	
/* end homepage */

.xchange_table_wrap{
margin: 0;
}

/* type table 1 */
.xchange_type_table{
margin: 0 0 20px;
position: relative;
} 
	.xtt_table_wrap{
	margin: 0;	
	}
		.xtt_left_col_title{
		float: left;
		width: 48%;
		font: 700 14px 'Open Sans', sans-serif;
		padding: 15px 0px;
		background: #f0f5f3;
		border-radius: 4px 4px 0 0;
		text-transform: uppercase;		
		}
			.rtl_body .xtt_left_col_title{
			float: right;	
			}
			.color_y .xtt_left_col_title{
			background: #eeeeee;
			color: #252927;
			}
			.color_b .xtt_left_col_title{
			background: #ffffff;
			color: #0090e4;
			}
			.color_r .xtt_left_col_title{
			background: #2d3e50;
			color: #fff;
			}			
			.xtt_table_title1{
			padding: 0 10px;
			}
		.xtt_right_col_title{
		float: right;
		width: 48%;
		font: 700 14px 'Open Sans', sans-serif;
		padding: 15px 0px;
		background: #f0f5f3;
		border-radius: 4px 4px 0 0;
		text-transform: uppercase;		
		}
			.rtl_body .xtt_right_col_title{
			float: left;	
			}
			.color_y .xtt_right_col_title{
			background: #eeeeee;
			color: #252927;
			}
			.color_b .xtt_right_col_title{
			background: #ffffff;
			color: #0090e4;
			}
			.color_r .xtt_right_col_title{
			background: #2d3e50;
			color: #fff;
			}			
			.xtt_table_title2{
			padding: 0 10px;
			}
	.xtt_table_body_wrap{
	position: relative;
	}
		.xtt_html_abs{
		display: none;
		position: absolute;
		z-index: 5;
		float: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff url(images/ajax-big-loader.gif) no-repeat center center;
		opacity: 0.6;
		}
	.xtt_left_col_table{
	float: left;
	width: 48%;			
	}
		.rtl_body .xtt_left_col_table{
		float: right;	
		}	
		.xtt_one_line_left, .xtt_one_line_right{
		display: block;
		position: relative;
		padding: 10px 5px 10px 5px;
		background: #fff;
		cursor: pointer;
		color: #333;
		border-top: 1px solid #ebebeb;
		}
			.xtt_one_line_ico_left, .xtt_one_line_ico_right{
			text-align: center;
			margin: 0 0 0 0;
			}
				.xtt_change_ico{
				width: 50px;
				height: 50px;
				margin: 0 auto;
				}
			.xtt_one_line_name{
			font: 12px 'Open Sans', sans-serif;
			text-align: center;
			color: #545454;
			}
			.js_item_left.active .xtt_one_line_left{
			background: #f0f5f3;
			}
				.color_y .js_item_left.active .xtt_one_line_left{
				background: #f4f4f4;
				}
				.color_b .js_item_left.active .xtt_one_line_left{
				background: #2a2a2a;
				}
				.color_r .js_item_left.active .xtt_one_line_left{
				background: #f0f3f7;
				}			
			.js_item_left.active .xtt_one_line_name, 
			.js_item_left.active .xtt_one_line_curs		
			{
			color: #00c063;
			}
				.color_y .js_item_left.active .xtt_one_line_name,
				.color_y .js_item_left.active .xtt_one_line_curs{
				color: #545454;
				}
				.color_b .js_item_left.active .xtt_one_line_name,
				.color_b .js_item_left.active .xtt_one_line_curs{
				color: #fff;
				}
				.color_r .js_item_left.active .xtt_one_line_name,
				.color_r .js_item_left.active .xtt_one_line_curs{
				color: #eb5255;
				}			
	.xtt_right_col_table{
	float: right;
	width: 48%;		
	}
		.rtl_body .xtt_right_col_table{
		float: left;	
		}	
		a.js_item_right{
		text-decoration: none;	
		}
		.xtt_line_tab{
		display: none;
		}
			.xtt_line_tab.active{
			display: block;
			}		
/* end type table 1 */

/* type table 3 */
.xtl_html_wrap{
margin: 0 0 20px;
position: relative;	
}
	.xtl_html_abs{
	display: none;
	position: absolute;
	z-index: 5;
	float: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff url(images/ajax-big-loader.gif) no-repeat center center;
	opacity: 0.6;
	}
	a.xtl_change{
	display: block;
	width: 35px;
	height: 35px;
	margin: 0 auto 10px;
	background: url(images/change.png) no-repeat center center;
	}
		.xtl_selico_wrap{
		position: relative;
		padding: 0 0 10px 0;
		overflow: hidden;			
		}
	.xtl_ico_wrap{
	position: absolute;
	float: none;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 4px;
	}
		.rtl_body .xtl_ico_wrap{
		left: auto;
		right: 0;
		}
		.xtl_ico{
		width: 50px;
		height: 50px;	
		}
	.xtl_selico_wrap{
	padding-left: 55px;	
	}
		.rtl_body .xtl_selico_wrap{
		padding-left: 0px;
		padding-right: 55px;
		}
		.xtl_select_wrap select{
		width: 100%;
		height: 50px;
		}
	.xtl_input_wrap{
	position: relative;
	padding: 0 0 10px 0;
	overflow: hidden;
	}
		.xtl_input_wrap input{
		height: 50px;
		font-size: 16px;
		line-height: 50px;
		}
	.xtl_commis_wrap{
	position: relative;
	padding: 0 0 10px 0;
	overflow: hidden;
	}
		.xtl_commis_text{
		height: 50px;
		width: 110px;
		position: absolute;
		float: none;
		top: 0;
		right: 0;
		padding: 0 10px 0 0;
		text-align: right;
		font: 13px/50px 'Open Sans', sans-serif;
		}
			.rtl_body .xtl_commis_text{
			text-align: left;
			right: auto;
			left: 0;
			}	
		.xtl_commis_wrap input{
		height: 50px;
		font-size: 16px;
		line-height: 50px;
		padding-right: 120px;
		}		
			.rtl_body .xtl_commis_wrap input{
			padding-right: 0px;
			padding-left: 120px;
			}
	.xtl_submit_wrap{
	padding: 0 0 10px 0;	
	}
		a.xtl_submit{
		display: block;
		width: 180px;
		border: 2px solid #00c063;
		border-radius: 4px;
		background: #00c063;
		height: 50px;
		padding: 0 25px;
		-webkit-transition: all 0.3s linear;
			-moz-transition: all 0.3s linear;
				-o-transition: all 0.3s linear;
					transition: all 0.3s linear; 
		box-sizing: border-box;
			-moz-box-sizing: border-box; 
				-webkit-box-sizing: border-box;
		color: #fff;
		text-decoration: none;
		text-align: center;
		margin: 0 auto;
		font: 600 18px/50px 'Open Sans', sans-serif;	
		cursor: pointer;
		text-transform: uppercase;
		}
			.color_y a.xtl_submit{
			border: 1px solid #ffe033;
			background: #ffe033;
			color: #2a2a2a;
			}
			.color_b a.xtl_submit{
			border: 1px solid #0090e4;
			background: #0090e4;
			color: #fff;
			}
			.color_r a.xtl_submit{
			border: 1px solid #eb5255;
			background: #eb5255;
			color: #fff;
			}
	.xtl_line{
	padding: 0 0 10px 0;
	text-align: center;
	font-weight: 600;
	}			
/* end type table 3 */

/* xchange */
.exch_ajax_wrap, .exchange_status_html{
position: relative;
min-height: 50px;					
}
	.exch_ajax_wrap_abs, .exchange_status_abs{
	display: none;
	position: absolute;
	z-index: 5;
	float: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff url(images/ajax-big-loader.gif) no-repeat center center;
	opacity: 0.6;					
	}
.notice_message{
border-radius: 4px;
padding: 10px 10px 10px 10px;
border-bottom: 3px solid #cacfcd;
margin: 0 0px 20px;	
background: #fff;
}
	.color_y .notice_message{
	border-bottom: none;
	background: #3d383f;
	color: #c4c4c4;
	}
	.color_b .notice_message{
	border-bottom: none;
	background: #f8f8f6;
	}
	.color_r .notice_message{
	border-bottom: none;
	background: #2d3e50;
	color: #c4c4c4;
	}
	.notice_message_ins{
	padding: 0px 0px 0px 50px;	
	background: url(images/notice_message.png) no-repeat 0px 5px;
	}
		.color_y .notice_message_ins{
		background: url(images/notice_message_y.png) no-repeat 0px 5px;
		}
		.color_b .notice_message_ins{
		background: url(images/notice_message_b.png) no-repeat 0px 5px;
		}
		.color_r .notice_message_ins{
		background: url(images/notice_message_r.png) no-repeat 0px 5px;
		}
		.rtl_body .notice_message_ins{
		background-position: right 0px!important;
		padding: 0px 50px 0px 0px;
		}		
		.notice_message_title{
		color: #2a2a2a;
		font: 600 14px 'Open Sans', sans-serif;		
		margin: 0 0 10px 0;
		}
			.color_y .notice_message_title{
			color: #fff;
			}
			.color_b .notice_message_title{
			color: #2a2a2a;
			}
			.color_r .notice_message_title{
			color: #fff;
			}
.warning_message{
border-radius: 3px;	
border: 2px solid #787f8a;
padding: 15px 20px 10px;
margin: 0 0 20px 0;
background: #e4eae7;
}
	.warning_message_title{
	color: #2a2a2a;
	font: 600 14px 'Open Sans', sans-serif;
	margin: 0 0 10px 0;
	}
	.warning_message_text p{
	padding: 0 0 5px 0;
	}
.xchange_div{
padding: 0 0 1px 0;
margin: 0 0 20px 0;
background: #fff;
border-radius: 4px;
}
	.color_y .xchange_div{
	background: #eeeeee;
	}
	.color_b .xchange_div{
	background: #fff;
	border: 1px solid #ebebeb;
	}
	.color_r .xchange_div{
	background: #fff;
	}
	.xchange_data_title, .xchange_pers_title{
	color: #252927;
	font: 600 14px 'Open Sans', sans-serif;
	text-transform: uppercase;
	border-radius: 4px 4px 0 0;
	padding: 15px 20px;
	margin: 0 0 10px 0;
	background: #f0f5f3;	
	}
		.color_y .xchange_data_title, .color_y .xchange_pers_title{
		color: #fff;
		background: #3d383f;
		}
		.color_b .xchange_data_title, .color_b .xchange_pers_title{
		color: #252927;
		background: #f8f8f6;
		}
		.color_r .xchange_data_title, .color_r .xchange_pers_title{
		color: #fff;
		background: #2d3e50;
		}	
		.xchange_data_title.otd span{
		position: relative;
		padding: 4px 40px 4px 0;
		background: url(images/right-arr.png) no-repeat right center;
		}
			.rtl_body .xchange_data_title.otd span{
			padding: 4px 0px 4px 40px;
			background: url(images/right-arr.png) no-repeat left center;	
			}		
		.xchange_data_title.pol span{
		position: relative;
		padding: 4px 40px 4px 0;
		background: url(images/left-arr.png) no-repeat right center;
		}
			.rtl_body .xchange_data_title.pol span{
			padding: 4px 0px 4px 40px;
			background: url(images/left-arr.png) no-repeat left center;	
			}
	.xchange_data_div, .xchange_pers_div{
	padding: 0 20px 10px 20px;
	margin: 0 0 0px 0;	
	}
		.xchange_info_line{		
		font: 13px 'Open Sans', sans-serif;
		color: #ff0000;
		}	
			.xchange_info_line > span{
			display: block;	
			margin: 0 0 10px 0;	
			}	
		.xchange_sum_line{
		position: relative;
		margin: 0 0 10px 0;
		}
			.xchange_sum_label{
			font: 600 13px 'Open Sans', sans-serif;	
			padding: 0 0 5px 0;	
			}
			.xchange_sum_input{
			position: relative;
			}
		.xchange_select{
		margin: 0 0 10px 0;
		}
		.xchange_sumandcom{
		color: #858c97;
		font: 13px 'Open Sans', sans-serif;
		margin: 0 0 10px 0;
		}
		.xchange_curs_line{
		margin: 0 0 10px 0;
		}
			.xchange_curs_label{
			font: 600 13px 'Open Sans', sans-serif;		
			padding: 0 0 5px 0;
			}
			.xchange_curs_input{
			position: relative;
			}
				.xchange_curs_line .check_purse_line{
				padding: 10px 0 0px 0;
				}
		.xchange_pers_line{
		margin: 0 0 10px 0;
		}
			.xchange_pers_label{
			font: 600 13px 'Open Sans', sans-serif;		
			padding: 0 0 5px 0;
			}
			.xchange_pers_input{
			position: relative;
			}			
	.xchange_checkdata_div{
	padding: 0px 20px 10px 20px;		
	}
	.xchange_submit_div{
	padding: 0px 20px 10px 20px;
	}	
/* end xchange */

/* all exchange */
.ajax_post_bids_res{
margin: 0 20px;	
}	
.span_skidka{
color: #e46066;
}	
.info_window{
display: none;
z-index: 1;
position: absolute;
top: 40px;
float: none;
left: 0px;
color: #fff;
font: 12px/14px 'Open Sans', sans-serif;
background: #6ed3a2;
padding: 15px 20px;
border-bottom: 2px solid #d7dbd9;
width: 100%;
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
}
	.color_y .info_window{
	color: #545454;
	background: #fffae0;	
	}
	.color_b .info_window{
	color: #545454;
	background: #d9e5ec;
	}
	.color_r .info_window{
	color: #ffffff;
	background: #abc1d6;
	}
	.js_window_wrap.showed .info_window{
	display: block;
	}				
		.info_window_abs{
		position: absolute;
		top: -4px;
		float: none;
		left: 36px;
		background: url(images/ug.png) no-repeat;
		width: 16px;
		height: 5px;
		}
			.color_y .info_window_abs{
			background: url(images/ug_y.png) no-repeat;	
			}
			.color_b .info_window_abs{
			background: url(images/ug_b.png) no-repeat;	
			}
			.color_r .info_window_abs{
			background: url(images/ug_r.png) no-repeat;	
			}		
			.rtl_body .info_window_abs{
			left: auto;
			right: 36px;
			}		
.js_wrap_error{
position: relative;
}
	.js_error{
	display: none; 
	color: #e46066;
	font: 600 10px 'Open Sans', sans-serif;				
	}
	.xtl_cols .js_error{
	padding: 3px 0 0 0;	
	}
	.js_wrap_error_br .js_error
	{
	font: 600 10px 'Open Sans', sans-serif;
	}
		.js_wrap_error.error .js_error{
		display: block;
		}
			.js_wrap_error.error input{
			border: 1px solid #e46066;
			}
.js_purse_link{
z-index: 2;
position: absolute;
float: none;
top: 50%;
left: 15px;
margin: -8px 0 0 0;
width: 16px;
height: 16px;
cursor: pointer;
background: url(images/purse.png) no-repeat center center;
}
	.js_purse_link_ins{
	position: relative;
	width: 16px;
	height: 16px;
	}
		.js_purse_ul{
		position: absolute;
		float: none;
		top: 0;
		left: 0px;
		width: 250px;
		background: #fff;		
		box-shadow: 0 0 5px #9fa3a1;
		display: none; 
		}
			.js_purse_line{
			padding: 5px 10px;
			border-bottom: 1px solid #dedede;
			} 		
				input.js_purse_input{
				padding-left: 40px;
				}			
/* end all exchange */

/* step 1 */
.block_xchangedata{
padding: 0 0 5px 0;
margin: 0 0 20px 0;
background: #fff;
border-radius: 3px;
} 
	.color_y .block_xchangedata{
	background: #eeeeee;
	}
	.color_b .block_xchangedata{
	background: #fff;
	border: 1px solid #ebebeb;
	}
	.color_r .block_xchangedata{
	background: #fff;
	}
	.block_submitbutton{
	padding: 10px 0 10px;
	text-align: center;
	}
	.block_checked_rule{
	padding: 10px 0px 10px 20px;
	}
		.rtl_body .block_checked_rule{
		padding: 10px 20px 10px 0px;	
		}
	.block_rule_info{
	color: #ff0000;
	padding: 10px 0 10px;
	text-align: center;	
	}	
	.block_warning{
	padding: 15px 20px 15px 20px;
	background: #f0f5f3;
	}
		.color_y .block_warning{
		background: #fff;	
		}
		.block_warning_title{
		font: 600 14px 'Open Sans', sans-serif;	
		margin: 0 0 10px 0;
		}
	.block_xchdata, .block_persdata{
	padding: 0;
	}
		.block_xchdata_title, .block_persdata_title{
		color: #252927;
		font: 600 14px 'Open Sans', sans-serif;
		padding: 15px 20px;
		margin: 0 0 10px 0;
		background: #f0f5f3;
		border-radius: 3px 3px 0 0;
		}
			.color_y .block_xchdata_title, .color_y .block_persdata_title{
			color: #fff;
			background: #3d383f;
			}
			.color_b .block_xchdata_title, .color_b .block_persdata_title{
			color: #252927;
			background: #f8f8f6;
			}
			.color_r .block_xchdata_title, .color_r .block_persdata_title{
			color: #fff;
			background: #2d3e50;
			}
		.block_xchdata_comm{
		padding: 0px 20px 10px;
		color: #858c97;
		}
		.block_persdata_info{
		padding: 5px 20px;
		}
			.block_persdata_info span{
			font-weight: 600;
			}
			.block_persdata_info p{
			padding: 5px 0;
			}
		.block_xchdata_info{
		padding: 0 20px 10px;
		}
				.block_xchdata_line{
				padding: 4px 0;
				}
					.block_xchdata_line span{ font-weight: 600; }
			.block_xchdata_info_right{
			display: none;
			}			
/* end step 1 */

/* bid status */
.block_statusbids{
background: #fff;
border-radius: 3px;	
margin: 0 0 10px 0;
}
	.color_y .block_statusbids{
	background: #eeeeee;
	}
	.color_b .block_statusbids{
	background: #fff;
	border: 1px solid #ebebeb;
	}
	.color_r .block_statusbids{
	background: #fff;
	}
	.block_statusbid_title{
	color: #252927;
	font: 600 13px 'Open Sans', sans-serif;
	padding: 10px 10px;
	background: #f0f5f3;
	border-radius: 4px 4px 0 0;
	}
		.color_y .block_statusbid_title{
		color: #fff;
		background: #3d383f;
		}
		.color_b .block_statusbid_title{
		color: #252927;
		background: #f8f8f6;
		}
		.color_r .block_statusbid_title{
		color: #fff;
		background: #2d3e50;
		}
	.block_status{
	background: #f0f5f3;
	padding: 15px 20px;
	}
		.color_y .block_status{
		background: #fff;	
		}	
		.block_status_time{
		padding: 0 0 10px 0;
		}
			.block_status_time span{
			font-weight: 600;
			}
		span.block_status_text_info{
		font-weight: 600;
		}
	.block_payinfo{
	padding: 10px 20px;
	}
		.block_payinfo_line{
		padding: 5px 0;
		}
			.block_payinfo_line span{
			font-weight: 600;
			}
		.block_instruction{
		margin: 0 0 10px 0;
		}	
			.block_instruction p{
			padding: 0 0 5px 0;
			}
			.not_vaccaunt_now{
			font-weight: 600;
			}
	.block_check_payment{
	height: 20px;
	position: relative;
	overflow: hidden;
	margin: 0 10px 10px;
	background: #79808b;
	}
		.block_check_payment_ins{ 
		position: absolute;
		float: none;
		top: 0;
		left: 0;
		width: 0px;
		height: 100%;
		background: #00c063;
		}
		.block_check_payment_abs{
		position: absolute;
		float: none;
		top: 0;
		left: 0;
		color: #fff;
		text-align: center;
		font: 600 13px/20px 'Open Sans', sans-serif;
		width: 100%;
		height: 100%;
		z-index: 1;
		}
	.block_smsbutton{
	padding: 10px 20px;	
	border-top: 1px solid #f0f5f3;
	}
		.block_smsbutton_label{
		padding: 0 0 8px 0;
		font-weight: 600;
		}
			.block_smsbutton_action input[type=text]{
			float: left;
			width: 120px;
			text-align: center;
			}
				.rtl_body .block_smsbutton_action input[type=text]{
				float: right;	
				}
			.block_smsbutton_action input[type=submit]{
			float: left;
			margin: 0 0 0 10px;
			}
				.rtl_body .block_smsbutton_action input[type=submit]{
				float: right;
				margin: 0 10px 0 0px;
				}		
	.block_change_browse{
	text-align: center;
	padding: 10px 0;
	color: #ff0000;
	}
	.block_warning_merch{
	color: #252927;
	padding: 15px 20px;
	background: #f0f5f3;
	}	
		.block_paybutton_merch{
		padding: 10px 0;
		}	
	.block_paybutton{
	padding: 10px 20px;
	}
		a.cancel_paybutton{
		float: left;
		display: block;
		text-decoration: none;
		background: #79808b;
		border-radius: 3px;
		padding: 6px 10px; 
		box-sizing: border-box;
			-moz-box-sizing: border-box; 
				-webkit-box-sizing: border-box;
		color: #fff;
		font: 600 12px 'Open Sans', sans-serif;	
		cursor: pointer;
		text-align: center;	
		}
			.rtl_body a.cancel_paybutton{
			float: right;	
			}	
		a.success_paybutton{
		float: right;
		display: block;
		text-decoration: none;
		background: #00c063;
		border-radius: 3px;
		padding: 6px 10px; 
		box-sizing: border-box;
			-moz-box-sizing: border-box; 
				-webkit-box-sizing: border-box;
		color: #fff;
		font: 600 12px 'Open Sans', sans-serif;	
		cursor: pointer;
		text-align: center;	
		}	
			.color_y a.success_paybutton{
			border: 1px solid #ffe033;
			background: #ffe033;
			color: #2a2a2a;
			}
			.color_b a.success_paybutton{
			border: 1px solid #0090e4;
			background: #0090e4;
			color: #fff;
			}
			.color_r a.success_paybutton{
			border: 1px solid #eb5255;
			background: #eb5255;
			color: #fff;
			}		
			.rtl_body a.success_paybutton{
			float: left;	
			}
		a.merch_paybutton{
		display: block;
		text-decoration: none;
		background: #252927;
		border-radius: 3px;
		width: 180px;
		padding: 6px 0px;
		margin: 0 auto;
		box-sizing: border-box;
			-moz-box-sizing: border-box; 
				-webkit-box-sizing: border-box;
		color: #fff;
		font: 600 12px 'Open Sans', sans-serif;	
		cursor: pointer;
		text-align: center;
		}	
/* end bid status */

/* pagenavi */
.pagenavi{ 
padding: 0px 0 0 0; 
margin: 0 0 15px 0;
text-align:center; 
font: 13px 'Open Sans', sans-serif;
}
.pagenavi span, .pagenavi a{
margin: 0 2px;
position: relative; 
padding: 6px 13px; 
border-radius: 3px;
}
.pagenavi span{
background: #858c97;
color: #fff;
}
	.color_y .pagenavi span{
	color: #3d383f;
	background: #ffe033;	
	}
	.color_b .pagenavi span{
	color: #fff;	
	background: #0090e4;	
	}
	.color_r .pagenavi span{
	color: #fff;
	background: #eb5255;	
	}
.pagenavi a{
text-decoration:none;
color: #545454;
background: #fff;
}
	.color_y  .pagenavi a{
	color: #fff;
	background: #3d383f;	
	}
	.color_b .pagenavi a{
	color: #2a2a2a;	
	background: #f8f8f6;	
	}
	.color_r .pagenavi a{
	color: #fff;
	background: #2d3e50;	
	}
/* end pagenavi */

/* tooltips */
.form_field_line.has_tooltip .form_field_ins, .ustbl_line.has_tooltip{
position: relative;	
}
	.has_tooltip .form_field_label_ins, .has_tooltip .usve_label{
	position: relative;	
	padding: 0 20px 0 0px;
	}
		.rtl_body .has_tooltip .form_field_label_ins, .rtl_body .has_tooltip .usve_label{
		padding: 0 0px 0 20px;	
		}	
	.has_tooltip .field_tooltip_label{
	position: absolute;
	float: none;
	display: block;
	width: 16px;
	height: 16px;
	top: 1px;
	right: 0;
	cursor: help;
	background: url(images/question.png) no-repeat right center;
	}
		.color_y .field_tooltip_abs{
		background: url(images/ug_y.png) no-repeat;	
		}
		.color_b .field_tooltip_abs{
		background: url(images/ug_b.png) no-repeat;	
		}
		.color_r .field_tooltip_abs{
		background: url(images/ug_r.png) no-repeat;	
		}	
		.rtl_body .has_tooltip .field_tooltip_label{
		right: auto;
		left: 0;
		}	
.field_tooltip_div{
display: none;
z-index: 1;	
position: absolute;	
float: none;
top: 100%;
left: 0;
width: 300px;
max-width: 100%;
padding: 4px 0 0 0;
}
	.rtl_body .field_tooltip_div{
	left: auto;	
	right: 0;
	}
	.has_tooltip.showed .field_tooltip_div{
	display: block;	
	}
	.field_tooltip_abs{
	position: absolute;
	top: 0px;
	float: none;
	left: 36px;
	background: url(images/ug.png) no-repeat;
	width: 16px;
	height: 5px;		
	}
		.rtl_body .field_tooltip_abs{
		left: auto;
		right: 36px;
		}	
	.field_tooltip{
	color: #fff;
	font: 12px/14px 'Open Sans', sans-serif;
	background: #6ed3a2;
	padding: 15px 20px;
	border-radius: 3px;
	border-right: 2px solid #d7dbd9;
	border-bottom: 2px solid #d7dbd9;
	}
		.color_y .field_tooltip{
		color: #545454;
		background: #fffae0;	
		}
		.color_b .field_tooltip{
		color: #545454;
		background: #d9e5ec;
		}
		.color_r .field_tooltip{
		color: #ffffff;
		background: #abc1d6;
		}	
/* end tooltips */

/* footer */
.footer{
background: #252927 url(images/foot.png);	
}
	.color_y .footer {
	background: #2a2a2a;		
	}
	.color_b .footer {
	background: #2d3e50;		
	}
	.color_r .footer {
	background: #2a2a2a;		
	}			
.copyright{
color: #858c97;
text-align: center;
font: 12px 'Open Sans', sans-serif;
text-decoration: none;
padding: 15px 20px;
display: block;
border-bottom: 1px solid #454746;
}
	.color_y .copyright {
	color: #c4c4c4;		
	}
	.color_b .copyright {
	color: #c4c4c4;		
	}
	.color_r .copyright {
	color: #c4c4c4;		
	}
.topped{
display: block;
color: #fff;
text-align: center;
font: 13px 'Open Sans', sans-serif;
padding: 10px 20px;
cursor: pointer;
border-bottom: 1px solid #454746;	
}
	.color_y .topped {
	color: #e4eae7;		
	}
	.color_b .topped {
	color: #e4eae7;		
	}
	.color_r .topped {
	color: #e4eae7;		
	}
a.webversion_link{
color: #fff;
text-align: center;
font: italic 12px 'Open Sans', sans-serif;
text-decoration: none;
padding: 10px 20px;
display: block;	
}
	.color_y  a.webversion_link {
	color: #e4eae7;		
	}
	.color_b a.webversion_link {
	color: #e4eae7;		
	}
	.color_r a.webversion_link {
	color: #e4eae7;		
	}
/* end footer */

/* reserv window */
.standart_shadow{
position: fixed;
float: none;
top: 0;
left: 0;
z-index: 999998;
width: 100%;
height: 100%;
background: #000;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
-moz-opacity: 0.7; 
-khtml-opacity: 0.7;
opacity: 0.7;
}
.standart_window{  
position: fixed;
float: none;
width: 100%;
max-width: 400px;
top: 100px;
left: 0px;
z-index: 999999;
}
	.standart_windowins{
	position: relative;
	width: 360px;
	margin: 0 auto;
    padding: 0px 20px 20px;
    box-shadow: 0 0 10px #000;
    background: #fff;	
	border-radius: 3px;
	}
		.color_y .standart_windowins{
		background: #eeeeee;
		}
		.color_b .standart_windowins{
		background: #fff;
		}
		.color_r .standart_windowins{
		background: #fff;
		}		
    .standart_window_close{
	position: absolute;
	float: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(images/close.png) no-repeat center center;
	top: 15px;
	right: 15px;
	}	
		.rtl_body .standart_window_close{
		left: 15px;
		right: auto;
		}
	.standart_window_title{
	font: 700 14px 'Open Sans', sans-serif;
	color: #252927;
	margin: 0 -20px 20px;
	padding: 15px 40px 15px 20px;
	background: #f0f5f3; 
	border: none;
	text-transform: uppercase;
	border-radius: 3px 3px 0 0;		
	}
		.color_y .standart_window_title{
		background: #3d383f;
		color: #fff;
		}
		.color_b .standart_window_title{
		background: #f8f8f6;
		}
		.color_r .standart_window_title{
		background: #2d3e50;
		color: #fff;
		}	
		.rtl_body  .standart_window_title{
		padding: 15px 20px 15px 40px;	
		}
	.rb_line{
	padding: 5px 0;
	}
/* end reserv window */

/* result message */
.resulttrue{
padding: 10px 15px;
color: #424a4c;
background: #ecf3e2;
margin: 0 0 10px 0;
font: 600 13px 'Open Sans', sans-serif;
}
.resultfalse, .xtp_error, .xtl_error, .hexch_error, .exch_error, .home_resultfalse{
padding: 10px 15px;
color: #424a4c;
background: #f8e1e1;
margin: 0 0 10px 0;
font: 600 13px 'Open Sans', sans-serif;
}
.home_resultfalse{
margin: 0 0 20px 0;
}
/* end result message */

/* classed */
.red, .req{ color: #ff4e4e; }
.bred {
font-weight: 600;
color: #ff0000;
}
.bgreen {
font-weight: 600;
color: #3ab448;
}
.clear{clear:both;}
img.alignnone{display:block;margin:0 0 20px 20px;}
img.alignright{float:right;margin:0 0 1em 1em}
img.alignleft{float:left;margin:0 1em 1em 0}
img.aligncenter{display:block;margin:20px auto;}
a img.alignnone{display:block;margin:0 0 20px 20px;}
a img.alignright{float:right;margin:0 0 1em 1em}
a img.alignleft{float:left;margin:0 1em 1em 0}
a img.aligncenter{display:block;margin:20px auto;} 